.card-container {
  perspective: 1000px;
  margin: auto;
  width: 240px;
  height: 300px;
}

.card-flip {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  margin: auto;
  transform-origin: center center;  
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 8px #eee;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
}

.card-front {
  position: absolute
}

.card-back {
  transform: rotateY(180deg);
  font-size: 12px;
  overflow-y: auto;
  padding: 15px;
  display: flex;
}